.svn

*.py[co]

*.o
*.ko
*.ko.unsigned
*.ko.cmd
*.ko.unsigned.cmd
*.o.cmd
*.mod.c
.tmp_versions/
Module.symvers
modules.order

logs/*
*.log
irq_count.*

config/monitor

user/user_alerts
user/user_monitor
user/network_tool
