# Configuration for a PNA node

PNA_BASE="/home/pna/pna"       # Base directory for PNA module
PNA_IFACE="eth0"               # Interface(s) for PNA to listen on
PNA_PREFIX="192.168.0.0"       # IP Prefix to watch
PNA_MASK="255.255.0.0"         # Network Mask to watch
PNA_LOGDIR="${PNA_BASE}/logs"  # Directory to store log files

# Advanced PNA configuration
PNA_FLOWPROCS=(7)              # Processors for flow processing (not real-time)
#PNA_MONPROCS=(0 2 4 6)        # Processors for userspace routines
